/* Resetando margens e preenchimentos padrão */
body, h1, p {
    margin: 0;
    padding: 0;
    font-family: 'Serif', serif;
}

/* Estilizando o corpo */
body {
    background: linear-gradient(to bottom, #4e2a27, #ad6f6b);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilizando o cabeçalho */
header {
    background-color: #4e2a27;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: #ffffff;
}

/* Estilizando o conteúdo principal */
main {
    flex: 1;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
}

/* Estilizando o rodapé */
footer {
    background-color: #4e2a27;
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 0.9em;
    color: #ffffff;
}
